<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Vic Finney</title>
    @Styles.Render("~/Content/main.css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1>@Html.ActionLink("Vic Finney", "Index", "Home")</h1>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <div class="inner">
                <h2>Menu</h2>
                <ul class="links">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="#About"><a href="#About">About</a></li>
                    <li class="#Skills"><a href="#Skills">My Skills</a></li>
                    <li class="#Experience"><a href="#Experience">My Resume</a></li>
                    <li class="#Projects"><a href="Projects">My Protfolio</a></li>
                    <li class="#footer"><a href="#footer">Contact</a></li>
                    @*<li><a href="#">Sign Up</a></li>*@
                </ul>
                <a href="#" class="close">Close</a>
            </div>
        </nav>
        @RenderBody()
        <!-- Footer -->
        <section id="footer">
            <div class="inner">
                <h2 class="major">Contact Me!</h2>
                <p>
                    Feel free to send me a message below or by using the links to the side. <br />
                    Any messages sent via the textbox below will be sent to my email address at <a href="mailto:finneyv09@gmail.com?subject=From Your Website">finneyv09@gmail.com</a><br/> I check this email at least once daily so you should expect a reply within at least 24 hours.
                </p>
                <form method="post" action="#">
                    <div class="field">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="4"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" /></li>
                    </ul>
                </form>
                <ul class="contact">
                    <li class="fa-home">
                        Victor Finney<br />
                        4421 Clovelly Court<br />
                        Indianapolis, IN 46254
                    </li>
                    <li class="fa-phone">(513) 502-1788</li>
                    <li class="fa-envelope"><a href="mailto:finneyv09@gmail.com?subject=From Your Website">finneyv09@gmail.com</a></li>
                    <li class="icon fa-github"><a href="https://www.github.com/Finneyv">github.com/Finneyv</a></li>
                    <li class="icon fa-linkedin"><a href="https://www.linkedin.com/in/victor-finney-8b4a3634">linkedin.com/in/victor-finney-8b4a3634</a></li>
                    @*<li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>*@
                </ul>
                <ul class="copyright">
                    <li>&copy; @DateTime.Now.Year - Vic Finney</li>
                    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </section>
    </div>
    @*<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Victor C. Finney", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Yahtzee", "Game", "Yahtzee")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Vic Finney</p>
            </footer>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/skel")
    @RenderSection("scripts", required: false)
</body>
</html>
